body{
  border: 0px;
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.bg{
  background: url(assets/bg_1.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.navbar-brand img{
  float: left;
  margin-left: 20px;
}

.judul{
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-left: 120px;
}

.kapital{
  text-transform: uppercase;
}

/* .btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: .5s;
}

.btn-primary {
  color: #FFFFFF;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 0;
  border-radius: 0;
  z-index: 99;
}

nav{
  position: sticky;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-left: 30px;
  padding: 30px 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark);
  outline: none;
  transition: .5s;
}

.badge{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0;
}

.header_section {
	width: 100%;
	float: left;
	padding-bottom: 20px;
	background-size: 100%;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 20px;
}
.menu_main {
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  text-align: right;  
  padding-right: 20px;
  display: inline-block;

}

.menu_main img{
  float: left;
  padding-left: 5px;
  max-height:30px;
  max-width: 50px;
}
.menu_main a { color: #ffffff;}
.menu_main a:hover{ color: #ffffff;}

.togle_main {
  padding-left: 20px;
  width: 80%;
  float: right;
}
.shoping_bag {
  width: 90%;
  float: left;
  text-align: right;
}

.togle_3 {
  width: 100%;
  float: left;
  margin-top: 25px;
}

.left_main{ 
  width: 60%; 
  float: left; 
}

.middle_main{ 
  width: 20%; 
  float: left; 
}

.right_main{ 
  width: 20%; 
  float: left; 
} */