body {
  background: linear-gradient(270deg, #a635d0, #8053ee, #d53eee);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  -o-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.containers{
  background-color: rgba(255, 255, 255, 0.9);
  width : 35%;
  margin: 75px auto;
  height: 810px;
  border-radius: 25px;
}

.judul{
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  padding: 25px 25px;
  text-align: center;
}

.masuk {
  width: 75%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 5px;
  margin-left: 45px;
}

.masuk input {
  margin: auto;
  border : 0px;
  outline: none;
  background: none;
  width: 337px;
  margin-top: 35px;
}

.validate-input {
  position: relative;
}

.focusInput{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  padding-top: 10px;
}

.focusInput::before{
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
}

.focusInput::after {
  position: absolute;
  bottom: -2px;
}

.masuks {
  width: 75%;
  position: relative;
  margin-bottom: 5px;
  margin-left: 45px;
}

.btns{
  margin-top: 20px;
  width: 70%;
  margin-left: 40px;
}

.registBtn{
  border: 0px;
  outline: none;
  background-image: linear-gradient(90deg,#a635d0, #8053ee);
  border-radius: 30px;
  width: 110%;
  padding: 5px;
  margin-top: 0px;
  color: white;
}

.daftar {
  width: 80%;
  position: relative;
  margin-bottom: 37px;
  margin-left: 140px;
  margin-top: 10px;
}

.daftar button{
  border: 0;
  outline: none;
  background: none;
  background:transparent;
}
