body{
  border: 0px;
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.bg{
  background: url(assets/bg_1.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
}

.navbar-brand img{
  float: left;
  margin-left: 20px;
}

.judul{
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-left: 120px;
}

.kapital{
  text-transform: uppercase;
}

.pagination{
  margin-top: 15px;
  margin-right: 225px;
}

.pagination button{
  background-color: rgb(149, 149, 243);
  border-radius: 5px;
  margin: 1px;
}

.pagination button:hover{
  background-color: lightblue;
}

.iniFooter{
  margin-top: 35px;
  background-color: rgb(190, 225, 255);
}

