body {
  background: linear-gradient(270deg, #a635d0, #8053ee, #d53eee);
  background-size: 600% 650%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  -o-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.containers {
  background-color: rgba(255, 255, 255, 0.9);
  width : 60%;
  margin: 50px auto;
  height: 600px;
  border-radius: 25px;
}

.judul{
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 100px;
  padding: 20px 0px;
  text-align: center;
}

.kiri{
  height : 600px;
}

.kiri img{
  margin: 0px auto;
  display: block;
  padding: 150px 50px;
}

.kiri img:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.masuk {
  width: 80%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
  margin-left: 85px;
}

.masuk input {
  margin: auto;
  border : 0px;
  outline: none;
  background: none;
  width: 290px;
  margin-top: 30px;
}

.validate-input {
  position: relative;
}

.focusInput{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focusInput::before{
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
}

.focusInput::after {
  position: absolute;
  bottom: -2px;
}

.btns{
  margin-top: 40px;
  width: 75%;
  margin-left: 85px;
}

.loginBtn{
  border: 0px;
  outline: none;
  background-image: linear-gradient(90deg,#a635d0, #8053ee);
  border-radius: 30px;
  width: 110%;
  padding: 5px;
  margin-top: 0px;
  color: white;
}

.daftar {
  width: 80%;
  position: relative;
  margin-bottom: 37px;
  margin-left: 60px;
  margin-top: 10px;
}

.daftar button{
  border: 0;
  outline: none;
  background: none;
  background:transparent;
}