body{
    border: 0px;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.navbar-brand img{
    float: left;
    margin-left: 20px;
}
  
.judul{
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-left: 120px;
}